extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let vegetableid = toShow._id
    - let vegetablecolor = toShow.color
    - let vegetableweight = toShow.weight
    - let vegetablevitamins = toShow.vitamins
    - let actionid = "/resource/resource/vegetable/" + vegetableid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='vegetableAttr mr-3') vegetable ID is:
        div #{vegetableid}
      div.row
        div(class='vegetableAttr mr-3') vegetable color is:
        div #{vegetablecolor}
      div.row
        div(class='vegetableAttr mr-3') Vegetable Weight is:
        div #{vegetableweight}
      div.row
        div(class='vegetableAttr mr-3') Vegetable Vitamins is:
        div #{vegetablevitamins}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
    function cancel() {
        window.location.href='/vegetable'
    }
  script.
    function deleteOnid() {
        console.log("starting delete")
        fetch(actionid, {
            method: 'DELETE'      // Don't need a body for the delete
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Delete succeded")
            window.location.href='/vegetable'
        }).catch((error) => {
            alert("Delete failed " + error )
        });
    }